@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float 1.5s ease-in-out infinite alternate
    position: absolute
    width: 90px
    top: 40%
    left: 0%
  &-2
    animation: floatZoom 5s ease-in-out infinite alternate
    position: absolute
    width: 90px
    top: 25%
    right: 20%
  &-3
    animation: floatRotate 5s ease-in-out infinite alternate
    position: absolute
    width: 90px
    top: 70%
    right: 25%

@keyframes float
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
@keyframes floatZoom
  0% 
    transform: translateY(0px) scale(1)
  50%
    transform: translateY(-35px) scale(1.05)
  100% 
    transform: translateY(0px) scale(1)

@keyframes floatRotate
  0% 
    transform: translateX(0px) rotate(0deg)
  50% 
    transform: translateX(-35px) rotate(30deg)
  100% 
    transform: translateY(-35px) rotate(0deg)

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 58.33333333% !important
  @media screen and (max-width: 576px)
    padding: 7rem 2rem !important

.banner-principal .tarjeta
  background-position: left 50% !important
  @media screen and (max-width: 1200px)
    background-image: url("../assets/curso/portada/fondo-banner-principal1.png") !important
  @media screen and (max-width: 768px)
    background-image: url("../assets/curso/portada/fondo-banner-principal2.png") !important
.banner-interno__fondo
  background-image: url("../assets/curso/portada/fondo-banner-principal3.png") !important

.banner-principal__row .banner-principal__img
  width: 430px !important
  padding-bottom: 0 !important
  @media screen and (max-width: 1200px)
    width: 380px !important
  @media screen and (min-width: 1400px)
    width: 380px !important

.banner-principal__row
  padding: 0rem 3.5rem 0rem 2rem
  @media screen and (max-width: 1200px)
    padding: 0rem

.banner-interno__titulo__icono i
  color: $white

.titulo-principal__numero span
  color: $color-sistema-texto !important

/* ===================================
          MEDIA QUERIES 
/* ===================================

/// DESKTOP SMALL 1400
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em !important

/// TABLET 992
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em !important
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
    width: 90% !important

/// TABLET MINI 768 
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em !important

/// MOBILE 576 
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em !important

/* ===================================
          TITULOS TERCER NIVEL
/* ===================================
.titles___box_tercer_nivel
  background-color: $color-acento-contenido
  border-radius: 5px
  display: inline-flex
  align-items: center
  padding: 1rem
  height: 40px
  margin-left: 0.2rem
  @media screen and (max-width: 768px)
    margin-left: 0rem
    padding: 0.5rem 1rem 0.5rem 1.5rem !important
    width: auto
    height: auto
  @media screen and (max-width: 1200px)
    padding: 1.8rem 1.5rem
    margin-left: 0.4rem
  h3
    margin-left: 0rem
    padding-left: 0rem
    align-items: center
    white-space: normal
    word-break: break-word
    margin-bottom: 0px
  img
    position: relative
    left: -8px
    bottom: 10px
    @media screen and (max-width: 1200px)
      bottom: 7px
    @media screen and (max-width: 768px)
      bottom: 0px

/* ===================================
        AJUSTES BOX
/* ===================================
.fit___box_
  padding: 0.5rem 2rem !important
  @media screen and (max-width: 1200px)
    padding: 2rem !important
  @media screen and (min-width: 1400px)
    padding: 2.5rem 2rem !important


/* ===================================
              FONDOS
/* ===================================
.bg___color_1
  background-image: url("../assets/curso/temas/bg/img1.png")
  background-repeat: no-repeat
  background-size: 1145px
  margin-inline: -3.2rem !important
  @media screen and (min-width: 1400px)
    background-size: 1325px

.bg___slider
  background-image: url("../assets/curso/temas/bg/img2.png") !important
  background-repeat: no-repeat
  background-size: cover
  margin-inline: -3.2rem !important
  padding: 3rem 0rem

.bg___carrusel
  background-image: url("../assets/curso/temas/bg/img3.png")
  background-repeat: no-repeat
  background-size: 1150px
  margin-inline: -3.2rem !important
  @media screen and (min-width: 1400px)
    background-size: 1330px

/* ===================================
          CAMBIO COLOR BOX
/* ===================================
.color___1
  background-color: $color-adicional-3 !important


/* ===================================
              INTRO
/* ===================================


/* ===================================
              TEMA 1
/* ===================================



/* ===================================
              TEMA 2
/* ===================================



/* ===================================
              TEMA 3
/* ===================================



/* ===================================
              TEMA 4
/* ===================================



/* ===================================
              TEMA 5
/* ===================================



